{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        <!-- 이런 방식은 하드코딩 되어 나중에 detail의 url을 바꾸게 되면 다시 이것도 바꾸게 되어야하는 불상사가 발생함 
        따라서 아래 방식을 통해 나중에 url이 수정되어도 유연하게 경로가 알아서 수정되게 함-->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}